.page-breadcrumbs-modern{
  margin-bottom: 5px;
  margin-left: -5px;
  margin-right: -5px;
  li{
    display: inline-block;
    a,i{
      display: inline-block;
      color: #1ea69a;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 15px;
    }
    a{
      &:hover{
        color: #179086;
      }
    }
  }
}