.rh_section__partners_elementor {
  margin-left: -10px;
  margin-right: -10px;
  display: block;
  text-align: center;
  .rh_partner {
    //background: green;
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    text-align: center;
  }
  img{
    //width: 100%;
  }
}